<span style='color: #000'>522 frames</span>	<span style='color: #900'>19,456 KB</span>	<span style='color: #090'>1,179.17 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />